/* Allgemeines Styling */

body {
    background-color: rgb(248, 248, 248);
    font-family: Helvetica Now Text;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-size: 70px;
    color: rgb(172, 228, 244);
}

p {
    font-size: 25px;
    text-align: center;
    color: rgb(171, 215, 230);
}

.meineKlasse {
    font-size: 14px;
    color:coral;
}

img {
    width: 300px;
}

.video {
    width: 400px;
    height: 220px
}

.logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.lustige-katze {
    display: block;
   
}

.lustige-katze.one {
    width: 250px;
    height: 250px;
}

.lustige-katze.two {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.nebeneinander {
    display: flex;
    justify-content: center;
    gap: 30px;
}

